/* index.css */

main{
    width:50%;
    margin: 50px;
    margin-top:10px;
    font-size: x-large;
    color:#abe080;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}

h1{
    font-size: larger;
}

.project{
    margin-bottom:75px;
}